[user]
  name = ItsJonQ
  email = itsjonq@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = vim


[alias]
  a = add
  aa = add .
  ap = add -p
  b = branch
  ba = branch -a
  c = commit --verbose
  co = checkout
  coa = checkout .
  cob = checkout -b
  d = diff
  db = branch -D
  f = fetch
  fp = fetch -p
  h = help
  l = log
  lol = log --graph --pretty=oneline
  m = merge
  nb = checkout -b
  p = pull
  ps = push
  pr = pull-request
  r = reset
  rb = rebase
  redo = commit --amend --no-edit
  s = status
  ss = status --short --branch
  st = stash
  y = cherry-pick

[branch]
  autosetupmerge = always
  autosetuprebase = never

[color]
  ui = true

[push]
  default = current

[url "https://github"]
  insteadOf = git://github
