[user]
  name = ItsJonQ
  email = itsjonq@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = vim


[alias]
  a = add
  b = branch
  c = commit --verbose
  co = checkout
  d = diff
  f = fetch
  fp = fetch -p
  h = help
  l = log
  lol = log --graph --pretty=oneline
  m = merge
  p = pull
  ps = push
  pr = pull-request
  r = reset
  rb = rebase
  redo = commit --amend --no-edit
  s = status
  ss = status --short --branch
  st = stash
  y = cherry-pick

[branch]
  autosetupmerge = always

[color]
  ui = true

[push]
  default = current

[url "https://github"]
  insteadOf = git://github
