# .gitconfig
# Author: Q <itsjonq@gmail.com>
# Source: https://github.com/ItsJonQ/dotfiles
# =============================================================================

[user]
  name = Jon Q
  email = itsjonq@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  ignoreCase = false

[alias]
  a = add
  aa = add .
  ap = add -p
  b = branch
  ba = branch -a
  c = commit --verbose
  cam = commit --amend
  co = checkout
  coa = checkout .
  cob = checkout -b
  cl = clone
  d = diff
  db = branch -D
  f = fetch
  fp = fetch -p
  h = help
  hist = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log
  lol = log --graph --pretty=oneline
  m = merge
  nb = checkout -b
  p = pull
  pr = pull-request
  psh = push
  push = push
  r = reset
  rb = rebase
  rm = clean
  redo = commit --amend --no-edit
  s = status
  ss = status --short --branch
  st = stash
  y = cherry-pick

[branch]
  autosetupmerge = always
  autosetuprebase = never

[credential]
  helper = osxkeychain

[color]
  ui = true

[url "https://github"]
  insteadOf = git://github
