"*":
  "bracket-matcher": {}
  core:
    disabledPackages: [
      "no-dock-arrows"
    ]
    reopenProjectMenuCount: 14
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "SF Mono"
    fontSize: 13
    scrollPastEnd: true
    scrollSensitivity: 60
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "8c45499a-d18d-86ee-185a-99f7577a1790"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
