"*":
  "atom-material-ui":
    colors: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  "autocomplete-plus":
    autoActivationDelay: 30
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    defaultProvider: "Symbol"
    minimumWordLength: 1
    similarSuggestionRemoval: "textOrSnippet"
    strictMatching: true
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "background-tips"
      "autocomplete-atom-api"
      "busy-signal"
      "intentions"
      "linter"
      "linter-ui-default"
      "vim-mode-plus"
    ]
    reopenProjectMenuCount: 14
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
    titleBar: "custom"
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "SF Mono"
    scrollPastEnd: true
    scrollSensitivity: 60
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "8c45499a-d18d-86ee-185a-99f7577a1790"
  "one-dark-ui": {}
  react:
    disableAutoClose: true
    enabledForAllJavascriptFiles: true
  "status-bar":
    isVisible: false
  "theme-switch":
    darkProfiles: [
      "one-dark-ui one-dark-syntax"
    ]
    lightProfiles: [
      "one-light-ui atom-light-syntax"
    ]
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    useClipboardAsDefaultRegister: false
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
