"*":
  core:
    disabledPackages: [
      "autocomplete-plus"
    ]
    reopenProjectMenuCount: 14
    telemetryConsent: "no"
  editor:
    autoIndent: false
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "8c45499a-d18d-86ee-185a-99f7577a1790"
  welcome:
    showOnStartup: false
