# atom: keymap
# @itsjonq

'.platform-darwin':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-w h': 'window:focus-pane-on-left'
  'ctrl-w l': 'window:focus-pane-on-right'
  'ctrl-\\': 'tree-view:toggle'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  # 'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  '-': 'tree-view:toggle-focus'
  '<': 'editor:outdent-selected-rows'
  '>': 'editor:indent-selected-rows'
  'g c': 'editor:toggle-line-comments'
  'shift-up': 'editor:move-line-up'
  'shift-down': 'editor:move-line-down'
  'space [': 'pane:show-previous-item'
  'space ]': 'pane:show-next-item'
  'space o': 'pane:close-other-items'
  'space q': 'core:close'
  ', [': 'pane:show-previous-item'
  ', ]': 'pane:show-next-item'
  ', o': 'pane:close-other-items'
  ', q': 'core:close'
  'space y': 'vim-mode-plus:yank'
  'space a': 'core:select-all'

'atom-text-editor.vim-mode:not(.insert-mode), .tree-view':
  '-': 'tree-view:toggle'
  'd': 'tree-view:add-folder'
  'D': 'tree-view:remove'
  '%': 'tree-view:add-file'

'atom-text-editor.vim-mode-plus.normal-mode':
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
