# atom: keymap
# @itsjonq

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  '-': 'tree-view:reveal-active-file'
  '<': 'editor:outdent-selected-rows'
  '>': 'editor:indent-selected-rows'
  'g c': 'editor:toggle-line-comments'
  'shift-up': 'editor:move-line-up'
  'shift-down': 'editor:move-line-down'
  'space [': 'pane:show-previous-item'
  'space ]': 'pane:show-next-item'
  'space o': 'pane:close-other-items'
  'space q': 'core:close'

'atom-text-editor.vim-mode:not(.insert-mode), .tree-view':
  '-': 'tree-view:toggle'
  'd': 'tree-view:add-folder'
  'D': 'tree-view:remove'

'atom-text-editor.vim-mode-plus.normal-mode':
  'g f':      'open-this:here'
  'ctrl-w f': 'open-this:split-down'
  'ctrl-w F': 'open-this:split-right'
