atom-text-editor.vim-mode-plus.normal-mode,
atom-text-editor.vim-mode-plus.visual-mode,
{
  &.is-focused {
    .cursor {
      background-color: #50E3C2 !important;
      visibility: visible;
    }
  }
}

// atom-text-editor.editor {
//   .selection .region {
//     background-color: rgba(80, 277, 194, 0.1);
//   }
// }


atom-workspace.theme-atom-light-syntax atom-text-editor {
  background-color: white;
  // background-color: #fafafa;
  .gutter {
    background-color: inherit;
  }
}

atom-workspace.theme-atom-material-syntax atom-text-editor {
  // background-color: #151920;
}

@font-face {
  font-family: "SF Mono";
  font-weight: 300;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Light.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 300;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-LightItalic.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Regular.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-RegularItalic.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Medium.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-MediumItalic.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Semibold.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-SemiboldItalic.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Bold.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-BoldItalic.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: normal;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-Heavy.otf");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("file:///Applications/Utilities/Terminal.app/Contents/Resources/Fonts/SFMono-HeavyItalic.otf");
}

.editor {
  font-weight: 300;
}
